* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  overflow-y: scroll;
}

body, #main {
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -moz-osx-font-smoothing: grayscale;
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-smoothing: antialiased;
  background: #212429;
  color: #f9f9f9;
  font-family: "Poppins", sans-serif;
  font-feature-settings: "kern", "liga", "clig", "calt";
  font-kerning: normal;
  font-weight: normal;
  margin: 0;
  word-wrap: break-word;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 70px);
}
